body {
  margin: 0;
}

h2 {
  padding: 1em;
  text-align: center;
  margin: 0;
  background: #CDCDCD;
}

.page-title {
  padding: 1em;
  text-align: center;
  background: black;
  color: white;
  margin: 0;
}

.landing {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.portrait-image {
  height: 800px;
  width: 570px;
}

.projects { 
  padding-top: 2em;
  padding-bottom: 4em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: black;
  color: white;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #CDCDCD;
  padding-bottom: 2em;
}

.background {
  text-align: center;
  justify-content: center;
}

.contacts {
  text-align: center;
}

/** Responsive Styling **/
@media screen and (max-width: 768px) {
  .landing{
    align-items: center;
  }

  .intro {
    display: block;
    text-align: center;
  }

  .portrait {
    display: none;
  }

  .projects{
    display: flex;
    flex-direction: column;
  }

  .project-image {
    height: 200px;
    width: 350px;
  }

  .about-me {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
